.about {
    margin-top: 106px;
}

.about__title {
    margin-left: 2px;
}

.about__text {
    max-width: 69.5%;
    margin-top: 27px;
    line-height: 32px;
}

.tooltip {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: -2px 0 0 5px;
    vertical-align: middle;
    background: url('../img/i_tooltip.svg') no-repeat;
    background-size: contain;
}

.about__aboutMain {
    display: flex;
    margin-top: 43px;
}

.aboutMain__aboutLinkBlock {
    position: relative;
    overflow: hidden;
    flex-basis: 49.2%;
    height: 623px;
    margin-right: 30px;
}

.aboutLinkBlock {
    background: url('../img/aboutMoreBackgroundMobile.jpg') -13px 0px/103% no-repeat;
}

.aboutLinkBlock__img {
    max-width: 103%;
    height: 99.5%;
    margin-left: -13px;
}

.aboutLinkBlock__describeBox {
    position: absolute;
    bottom: 1px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 176px;
    padding: 38px 69px 40px 54px;
    background-color: rgba(0, 0, 0, 0.5);
    /* backdrop-filter: blur(40px); */
}

.aboutLinkBlock__describe {
    flex-basis: 67%;
    color: #FFFFFF;
    font-weight: bold;
    line-height: 2em;
}

.aboutLinkBlock__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 175px;
    height: 60px;
    margin-top: 2px;
    transition: background-color .3s ease;
    color: white;
    border: 3px solid #f90;
}

.aboutLinkBlock__link:hover,
.aboutLinkBlock__link:focus {
    background-color: #f90;
}

.aboutLinkBlock__link:active {
    border: none;
    background-color: #E1670E;
}

.aboutMain__cardsList {
    flex-basis: 49.1%;
}

.cardItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 295px;
    padding: 4px 0 0 15.5vw;
    border: 1px solid #CACACA;
}

.cardItem:first-child {
    margin-bottom: 30px;
    background: url('../img/aboutIcon-1.svg') no-repeat;
    background-position: 3.2vw 60px;
}

.cardItem:last-child {
    padding-top: 6px;
    background: url('../img/aboutIcon-2.svg') no-repeat;
    background-position: 3.2vw 56px;
}

.cardItem__firstSentence {
    font-size: 24px;
    font-weight: bold;
}

.cardItem__describe {
    width: 75%;
    margin-top: 5px;
    line-height: 2em;
}

@media (min-width:1025px) and (max-width:1919px) {
    .about__text {
        max-width: 95%;
    }
    .cardItem {
        padding: 1vw 0 0 15vw;
    }
    .cardItem:first-child {
        background-position: 3vw center;
        background-size: 15%;
    }
    .cardItem:last-child {
        padding-top: 1vw;
        background-position: 3vw center;
        background-size: 15%;
    }
    .cardItem__describe {
        line-height: 1.5em;
    }
    .aboutLinkBlock__describeBox {
        padding: 20px;
    }
    .aboutLinkBlock__describe {
        line-height: 1.5em;
    }
}

@media (min-width:768px) and (max-width:1024px) {
    .about {
        margin-top: 61px;
    }
    .about__title {
        margin-left: -3px;
    }
    .about__text {
        min-width: 100%;
        margin: 27px 0 0 -1px;
    }
    .tooltip {
        margin: -2px 4px 0 1px;
    }
    .about__aboutMain {
        display: block;
        margin-top: 59px;
    }
    .aboutMain__aboutLinkBlock {
        height: 650px;
        margin-right: 0;
    }
    .aboutLinkBlock__img {
        width: 100%;
        margin-left: 0;
    }
    .aboutLinkBlock__describeBox {
        bottom: -7px;
        height: 180px;
        padding: 31px 50px 40px 44px;
    }
    .aboutLinkBlock__describe {
        flex-basis: 60%;
    }
    .aboutLinkBlock__link {
        margin-top: 3px;
    }
    .aboutMain__cardsList {
        margin-top: 40px;
    }
    .cardItem {
        padding: 0 0 0 348px;
    }
    .cardItem:first-child {
        margin-bottom: 40px;
        background-position: 111px 63px;
    }
    .cardItem:last-child {
        padding-top: 0;
        background: url('../img/aboutIcon-2_Mobile02.svg') 162px 62px no-repeat, url('../img/aboutIcon-2_Mobile01.svg') 111px 95px no-repeat;
    }
    .cardItem__title {
        letter-spacing: -.012em;
    }
}