.faq {
    margin: 8rem 0 6.2rem .1rem;
}

.faq__title {
    margin-bottom: 42px;
}

.faq__list,
.faq>hr {
    margin-left: 4px;
}

.faq__item {
    height: 100%;
    transition: height 0.5s ease;
}

.faq__itemBlock {
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    min-height: 100px;
    margin-bottom: 6px;
    padding: 30px 0 23px 0;
}

.faq__item::before {
    display: block;
    height: 2px;
    content: '';
    transition: background-color .5s ease;
    background-color: gray;
}

.faq__item:last-child::after {
    display: block;
    height: 2px;
    content: '';
    transition: background-color .5s ease;
    background-color: gray;
}

.faq__linkText {
    width: 90%;
    transition: color .3s ease;
    text-align: left;
    letter-spacing: 0.01em;
    color: #333;
    font-size: 24px;
    font-weight: 700;
    line-height: 50px;
}

.faq__slesh {
    color: lightgrey;
}

.faq__item:hover .faq__linkText,
.faq__item:focus .faq__linkText,
.faq__item:hover .faq__slesh,
.faq__item:focus .faq__slesh {
    color: #f90;
}

.faq__item:hover::before,
.faq__item:focus::before,
.faq__item:hover+.faq__item::before,
.faq__item:focus+.faq__item::before,
.faq__item:last-child:hover::after,
.faq__item:last-child:focus::after {
    background-color: #f90;
}

.faq__linkIcon {
    display: inline-block;
    width: 50px;
    height: 50px;
    transition: background-image .3s ease, transform .3s ease;
    background: url('../img/faqPlus.svg') no-repeat;
}

.faq__item:hover .faq__linkIcon,
.faq__item:focus .faq__linkIcon {
    background-image: url('../img/faqPlus_hover.svg');
}

.faq__itemContent {
    overflow: hidden;
    width: 57%;
    height: 100%;
    margin-bottom: 45px;
    transition: transform .2s ease;
    text-align: left;
    line-height: 2em;
}

.faq__hide {
    width: 0;
    height: 0;
    margin: 0;
    transform: scaleY(0);
}

.faq__Icon-Rotate {
    transform: rotate(45deg);
}

@media (min-width:768px) and (max-width:1024px) {
    .faq {
        margin: 60px 0 69px -3px;
    }
    .faq__title {
        margin-bottom: 38px;
    }
    .faq__list,
    .faq>hr {
        margin-left: 3px;
    }
    .faq__linkText {
        max-width: 83%;
        font-size: 20px;
        line-height: 1.5em;
    }
    .faq__itemLinksBlock {
        padding: 36px 0 24px 0;
    }
}