.title {
    font-size: 48px;
    font-weight: normal;
}

.header {
    display: flex;
    align-items: center;
    height: 101px;
    background-color: white;
    box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
}

.header__box {
    display: flex;
    justify-content: space-between;
}

.header__logo {
    max-width: 100%;
    transition: filter .3s ease;
}

.header__nav {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.nav__list {
    display: flex;
    justify-content: space-between;
    width: 36.9vw;
    margin-right: calc(3vw + 6px);
}

.nav__itemLink {
    display: inline-block;
    height: 40px;
    transition: background-position .2s ease-out;
    letter-spacing: -.02em;
    font-size: 18px;
    font-weight: 600;
    line-height: 40px;
}

.nav__itemLink:hover,
.nav__itemLink:focus {
    background: url('../img/linkHover.svg') repeat-x;
    background-position: 0 35px;
}

.nav__itemLink:active {
    color: #E1670E;
}

.header__searchButton {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 5px;
    transition: background-image .1s ease;
    background: url('../img/Search.svg') no-repeat;
    background-position: center;
    background-size: 25px;
}

.header__searchButton:hover,
.header__searchButton:focus {
    background-image: url('../img/SearchHover.svg');
}

.header__searchButton:active {
    background-image: url('../img/SearchActive.svg');
}

.nav__burger {
    display: none;
    width: 30px;
    height: 23px;
    transition: background .3s ease;
    background: url('../img/burger_line.svg') center top no-repeat, url('../img/burger_line.svg') center center no-repeat, url('../img/burger_line.svg') center bottom no-repeat;
}

.nav__burger:hover,
.nav__burger:focus {
    background: url('../img/burger_line_hover.svg') center top no-repeat, url('../img/burger_line_hover.svg') 5px center no-repeat, url('../img/burger_line_hover.svg') 10px bottom no-repeat;
}

@media (min-width:1025px) and (max-width:1919px) {
    .nav__item:first-child,
    .nav__item:nth-child(2),
    .nav__item:nth-child(3),
    .nav__item:nth-child(4),
    .nav__item:last-child {
        margin-right: 50px;
    }
}

@media (min-width:768px) and (max-width:1024px) {
    .header {
        height: 100px;
    }
    .header__logo {
        max-width: 150px;
        margin-top: 5px;
    }
    .header__logo:focus {
        filter: drop-shadow(0 0 3px rgba(255, 153, 0, 0.6));
    }
    .header__nav {
        margin-top: 1px;
    }
    .nav__item {
        margin-top: 3px;
    }
    .nav__item:first-child {
        margin-right: 5.5vw;
    }
    .nav__item:nth-child(2),
    .nav__item:nth-child(3),
    .nav__item:nth-child(4) {
        margin-right: 5.8vw;
    }
    .nav__item:last-child {
        margin-right: 6.7vw;
    }
    .nav__itemLink {
        letter-spacing: .03em;
        font-size: 16px;
    }
    .header__searchButton {
        margin: 3px 22px 0 0;
    }
    .nav__burger {
        display: block;
    }
}

@media (min-width:768px) and (max-width:900px) {
    .nav__item:first-child,
    .nav__item:nth-child(2),
    .nav__item:nth-child(3),
    .nav__item:nth-child(4),
    .nav__item:last-child {
        margin-right: 3vw;
    }
}